<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home Page</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body class="bg-gray-50">
    <%- include('partials/header')%>
    <main class="container mx-auto px-4 py-8">
        <p>working in progress. We shortly back..</p><br/>
        <a href="/" class="px-4 py-2 bg-red-600 text-white rounded-lg font-semibold hover:bg-red-700 transition">
            Back to Login
        </a>
    </main>
    <%- include('partials/footer')%>
</body>
</html>