<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home List Page</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
    <%- include('partials/header')%>
    <main>
        <ul>
            <li>home 1</li>
            <li>home 2</li>
        </ul>
    </main>
    <%- include('partials/footer')%>
</body>
</html>