<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user home</title>
    <link rel="stylesheet" href="/css/output.css">
  </head>
  <body>
    <%- include('partials/header')%>
    <main>
      <a href="/user/homeList">Show Listed Home</a>
      <a href="/user/registerHome">Register your Home</a>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
