<%- include('../partials/headHtml')%>
<body class="bg-gray-50">
    <%- include('../partials/header')%>
    <main>
        <p>workinng in porgress...</p>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>