<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log-in page</title>
    <!-- <link rel="stylesheet" href="login.css"> -->
     <link rel="stylesheet" href="/css/output.css">
  </head>
  <body>
    <header>
      <h1 class="text-blue-400">WELCOME AIRBNB LOGIN PAGE</h1>
    </header>
    <main>
      <a href="/user/home">user login</a><br />
      <a href="/admin/home">admin login</a>
    </main>
  </body>
</html>
