<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact page</title>
</head>
<body>
    <h1>Details collection</h1>
    <form action="/admin/submit" method="POST">
        <label for="name">NAME : </label>
        <input type="text" id="name" name="name" placeholder="Enter your name">
        <label for="email">EMAIL : </label>
        <input type="email" id="email" name="email" placeholder="abc@gmail.com">
        <button type="submit">submit</button>
    </form>
</body>
</html>