<header class="bg-red-600 text-white flex items-center justify-between px-6 py-4 shadow-md">
  <h1 class="text-2xl font-bold"><a href="/user/userHome">Airbnb</a></h1>
  <div>
    <a href="/user/homeList" class="p-3">Home List</a>
    <a href="/user/booking" class="p-3">My Bookings</a>
    <a href="/user/favourite" class="p-3">Favourite</a>
    <a href="/admin/registerHome" class="p-3">Add Home</a>
    <a href="/admin/hostHome" class="p-3">Host Home</a>
    <a href="/user/contact-us" class="p-3">Contact Us</a>
  </div>
  <div class="flex gap-4">
    <a
      href="/"
      class="px-4 py-2 border-2 border-white rounded-lg font-semibold hover:bg-white hover:text-red-600 transition"
    >
      Back to Login
    </a>
  </div>
</header>